body{
	font-family: sans-serif,product sans,bebas;
	background: #fff000;
}

h1{
	text-align: center;
	/*ketebalan font*/
	font-weight: 300;
}

.tulisan_login{
	text-align: center;
	
}

.kotak_login{
	width: 350px;
	text-align: left;
	background:#413043;
	margin: 70px auto;
	padding: 30px 20px;
	box-shadow: 0px 0px 100px 10px #;
}

label{
	font-size: 11pt;
}

.form_login{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 280px;
	text-align:center;
	padding: 15px;
	border-radius: 30px;
	font-size: 11pt;
	border:2px solid #fff;
	border:1px solid #000000;
	margin-bottom: 28px;
}

.tombol_login{
	 
    background: #fff000;
	border:2px solid #fff000;
	color: black;
	font-family: product sans;
	font-size:large;
	margin:0 auto;
	width: 100px;
	border:2px solid #ff0;
	padding: 10px 20px;
	border-radius: 25px;
	transition: opacity 0.5s;
   -webkit-transition: all ease 0.5s;
   -moz-transition: all ease 0.5s;
   -o-transition: all ease 0.5s;
   -ms-transition: all ease 0.5s ;
   transition: all ease 0.5s ;
}

.tombol_login:hover {
background:#c0c0c0;
color:#ff0000;
-webkit-transition: all ease 0.7s;
-moz-transition: all ease 0.7s;
-o-transition: all ease 0.7s;
-ms-transition: all ease 0.7s ;
transition: all ease 0.5s ;
} 

.alert{
	background: #e44e4e;
	color: white;
	padding: 20px;
	border-radius:30px;
	text-align: center;
	font-size: 30px;
	border:1px solid #b32929;
}

.tulisan_login{
  font-size:40px;
  color: white;
  font-family: product sans;
  }

.pilih_bahasa{
 text-align: center;
}	

.id{
color: white;	
text-align:center;
font: normal 25px product sans !important;
}

.pw{
color: white;	
text-align:center;
font: normal 25px product sans !important;
}	

.admin{
color: blue;
}
	
}
::-webkit-input-placeholder {
  color: gray;
  font-size: 17px;
}
::-moz-placeholder {
  color: gray;
  font-size: 17px;
}
:-ms-input-placeholder {
  color: gray;
  font-size: 17px;
}
::placeholder {
  color: gray;
  font-size: 17px;
}

.tanggal{
font-size: 20px;	
}
.pilih_bahasa{
font-family:arial;	
	
}
