@font-face{
	font-family:"product sans";
	src:local(productsansbold.ttf) format('truetype');
}
body{
	font color:white;
	background:#fff000
}
.form{
	box-sizing : border-box;
	width: 280px;
	text-align:center;
	padding: 15px;
	border-radius: 30px;
	font-size: 11pt;
	border:0px solid #000000;
	margin-bottom: 28px;
	}
.al{
	text-align:center;
	font-size:30px;
	color:white;
	font-family:product sans}
.tl{
	font-family:product sans;
	text-align:center;
	color:white;
	font-size:30px;
}	
	

.tblsimpan{
	 
    background: #fff000;
	
	color: black;
	font-family: product sans;
	text-align: center;
	font-size:large;
	display:inline-block;
	margin-center:auto;
	border:2px solid #fff000;
	width: 30%;
	padding: 10px 20px;
	border-radius: 25px;
	transition: opacity 0.5s;
   -webkit-transition: all ease 0.5s;
   -moz-transition: all ease 0.5s;
   -o-transition: all ease 0.5s;
   -ms-transition: all ease 0.5s ;
   transition: all ease 0.5s ;
}

.tblsimpan:hover {
background:#c0c0c0;
color:#ff0000;
border:2px solid #c0c0c0;
-webkit-transition: all ease 0.7s;
-moz-transition: all ease 0.7s;
-o-transition: all ease 0.7s;
-ms-transition: all ease 0.7s ;
transition: all ease 0.5s ;
}
	
.nama{
text-align:center;
font-family:product sans;
color:white;
font-size:30px;	
}
.nc{
text-align:center;
font-size:40px;
color:#000000;
font-family:product sans;
}	
	
.kl{	
width: 350px;
text-align: left;
background:linear-gradient(-45deg,#2b92e4,#aea79c);
margin: 40px auto;
padding: 30px 20px;
border-radius:30px;
box-shadow: 0px 0px 100px 10px #;
}	


.ha
{
 background: #fff000;
	
	color: black;
	font-family: product sans;
	text-align: center;
	font-size:large;
	margin:0 auto;
	display:inline-block;
	margin-left:40px;
	width: 40%;
	border:2px solid #fff000;
	padding: 10px 20px;
	border-radius: 25px;
	transition: opacity 0.5s;
   -webkit-transition: all ease 0.5s;
   -moz-transition: all ease 0.5s;
   -o-transition: all ease 0.5s;
   -ms-transition: all ease 0.5s ;
   transition: all ease 0.5s ;
}

.ha:hover {
background:#c0c0c0;
color:#ff0000;
border:2px solid #c0c0c0;
-webkit-transition: all ease 0.7s;
-moz-transition: all ease 0.7s;
-o-transition: all ease 0.7s;
-ms-transition: all ease 0.7s ;
transition: all ease 0.5s ;
}

	