body{
background:linear-gradient(-45deg,#2b92e4,#aea79c);	
}
@font-face{
	font-family:"product sans";
	src:local(product sans) format('truetype');
	}
.judul{
	background:;
	padding: 10px;
	font-family:product sans;
	text-align: center;

	font-size:20px;
}
.judul h1,h2,h3{
	height: 15px;
	color:white;
}

.a{
	/*color: #000;*/
	padding: 5px;
	text-decoration: none;	
}


.table{
	border-collapse: collapse;
	height:50px;
	padding: 20px 25px;	
	font-family:arial;
}

.table, table.table tr td{
	padding: 20px 25px;
	text-align:center;
	background-opacity:.70;
	color:black;
	font-family:bahnschrift;
	

}


.table th{
    
	padding: 5px 5px;
	text-align:center;
	color:white;
	background:#de4678;
}
.table tr:nth-child(even) {
background-color:#c0c0c0;
}


.pesan{
font-family:arial;
text-align:center;
color:white;	
}

.datauser{
font-family:arial;	
}

.tombol{
font-family:arial;
text-align:center;	
}


.logout{
	 
    background: #fff000;
	
	color: black;
	font-family: product sans;
	text-align: center;
	display:inline;
	font-size:large;
	border:2px solid #fff000;
	width: 110px;
	padding: 10px 20px;
	border-radius: 25px;
	transition: opacity 0.5s;
   -webkit-transition: all ease 0.5s;
   -moz-transition: all ease 0.5s;
   -o-transition: all ease 0.5s;
   -ms-transition: all ease 0.5s ;
   transition: all ease 0.5s ;
}

.logout:hover {
background:#c0c0c0;
color:#ff0000;
border:2px solid #c0c0c0;
-webkit-transition: all ease 0.7s;
-moz-transition: all ease 0.7s;
-o-transition: all ease 0.7s;
-ms-transition: all ease 0.7s ;
transition: all ease 0.5s ;
}

.tanggal{
font-family:product sans;
font-size:20px;	
font-color:#fff;
text-align:center;
}
.dt{
color: #000;	
}

.wtb{
font-color:black;	
}
.kta{
	
}
.input{
	 
    background: #fff000;
	
	color: black;
	font-family: product sans;
	font-size:large;
	width: 16%;
	border:2px solid #fff000;
	padding: 10px 20px;
	border-radius: 25px;
	transition: opacity 0.5s;
   -webkit-transition: all ease 0.5s;
   -moz-transition: all ease 0.5s;
   -o-transition: all ease 0.5s;
   -ms-transition: all ease 0.5s ;
   transition: all ease 0.5s ;
}

.input:hover {
background:#c0c0c0;
color:#ff0000;
border:2px solid #c0c0c0;
-webkit-transition: all ease 0.7s;
-moz-transition: all ease 0.7s;
-o-transition: all ease 0.7s;
-ms-transition: all ease 0.7s ;
transition: all ease 0.5s ;
}

.tbh
{
 background: #fff000;
	
	color: black;
	font-family: product sans;
	text-align: center;
	display:inline;
	font-size:large;
	width: 175px;
	border:2px solid #fff000;
	padding: 10px 20px;
	border-radius: 25px;
	transition: opacity 0.5s;
   -webkit-transition: all ease 0.5s;
   -moz-transition: all ease 0.5s;
   -o-transition: all ease 0.5s;
   -ms-transition: all ease 0.5s ;
   transition: all ease 0.5s ;
}

.tbh:hover {
background:#c0c0c0;
color:#ff0000;
border:2px solid #c0c0c0;
-webkit-transition: all ease 0.7s;
-moz-transition: all ease 0.7s;
-o-transition: all ease 0.7s;
-ms-transition: all ease 0.7s ;
transition: all ease 0.5s ;
}
